# Sentiment analysis for stock price prediction

#### Introduction

This notebook ...

#### Grab data sources and merge into a single big dataframe

In [2]:
# Ensure correct packages and settings
import os
import sys
import pathlib
import pandas as pd
from pathlib import Path

# Check if running within a virtual environment
if sys.prefix != sys.base_prefix:
    print(f"Running in a virtual environment: {sys.prefix}")
else:
    print("Not running in a virtual environment. Activate the environment, install the packages and try again.")
    sys.exit(1)

Running in a virtual environment: c:\mainrism\imp\enterprises\projects\tweet-stock-sentiment\.venv

In [9]:
# Import NVDA daily stock prices CSV into a DataFrame
nvda_prices = pd.read_csv(Path("data/nvda-daily-stock-prices.csv"))
nvda_prices.head()

         Date  Adj Close     Close      High       Low      Open      Volume
0  1999-01-22   0.037615  0.041016  0.048828  0.038802  0.043750  2714688000
1  1999-01-25   0.041556  0.045313  0.045833  0.041016  0.044271   510480000
2  1999-01-26   0.038331  0.041797  0.046745  0.041146  0.045833   343200000
3  1999-01-27   0.038212  0.041667  0.042969  0.039583  0.041927   244368000
4  1999-01-28   0.038092  0.041536  0.041927  0.041276  0.041667   227520000

In [15]:
# Import NVDA tweets CSV into a DataFrame
nvda_tweets = pd.read_csv(Path("data/nvda-tweets.csv"))
# Remove all rows where 'Datetime' is not a valid date
nvda_tweets = nvda_tweets[pd.to_datetime(nvda_tweets['Datetime'], errors='coerce').notnull()]
# Convert 'Datetime' column to 'Date' in YYYY-MM-DD format
nvda_tweets['Date'] = pd.to_datetime(nvda_tweets['Datetime']).dt.date
nvda_tweets.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username,Date
0,0,2023-02-06 10:07:17+00:00,1.622537e+18,$nvda Top analyst price target for next week ...,RyderJohnston6,2023-02-06
1,1,2023-02-06 10:06:30+00:00,1.622537e+18,$nvda Top analyst price target for this week.ðŸ”—...,k_mebane,2023-02-06
2,2,2023-02-06 10:06:08+00:00,1.622537e+18,$nvda Top analyst price target for next week.....,RonaldBevan2,2023-02-06
3,3,2023-02-06 10:05:43+00:00,1.622537e+18,$NVDA Top analyst target price for next weekðŸš€ ...,Eva077777,2023-02-06
4,4,2023-02-06 10:03:49+00:00,1.622537e+18,$rsls rebound ðŸš¨ðŸš¨ðŸš€ðŸš€ðŸš€\nâ€”â€”â€”â€”\n\n$EDSA\n$KODK\n$DO...,MrBlackTrading,2023-02-06

In [ ]:
# Merge stock prices with tweets on the date